<a href="https://colab.research.google.com/github/ShafaqMandha/Basic-Python-for-Data-AI/blob/main/Operators%20%26%20Variables/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operators in Python**

## **Arithmetic Operators**

### Basic Arithmetic Operators

In [ ]:
1 + 1

In [ ]:
4 * 5

In [ ]:
5 ** 2

In [ ]:
20 / 5

In [ ]:
20 / 6

In [ ]:
20 % 6

### Arithmetic Operators with Strings

In [ ]:
'string 1 ' + 'string 2'

In [ ]:
'- string 1 - ' * 4

In [ ]:
' 1' + 4

## **Comparison, Logical, and Membership Operators**

### Comparison Operators

In [ ]:
True == True

In [ ]:
4 < 5

In [ ]:
5 <= 5

In [ ]:
5 > 2

In [ ]:
5 >=2

### Logical Operators (and, or, not)

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
not True

In [ ]:
not False

### Membership Operators

In [ ]:
1 in [1,2,3,4,5]

In [ ]:
10 in [1,2,3,4,5]

In [ ]:
'cat' not in 'my pet cat'